[Desktop Entry]
Type=Application
Name=Hearthstone
GenericName=Hearthstone
Comment=Hearthstone (Unofficial)
Exec=Hearthstone.sh
Categories=Game;
Icon=com.blizzard.Battlenet.Hearthstone
Keywords=Hearthstone;Blizzard;Battle.net;Battlenet;