[Desktop Entry]
Type=Application
Name=Hearthstone
GenericName=Hearthstone
Comment=Hearthstone (Unofficial)
Exec=Hearthstone
Categories=Game;
Icon=Hearthstone
Keywords=Hearthstone;Blizzard;Battle.net;